<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Meu nome é Maicon Sander, Desenvolvedor Web Júnior </span>
            </h1>

            <p class="paragraph">Conheça mais sobre mim, meus projetos e habilidades técnicas.</p>

            <div class="buttons">
              <a href="#about">
                <i class="material-symbols-outlined">
                    sentiment_very_satisfied
                </i>
               Sobre mim 
             </a>
             <a href="#skills">
                <i class="material-symbols-outlined">
                    sync_saved_locally
                </i>
                Habilidades
            </a>
            </div>

        </div>

    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="./assets/imgs/profile.jpeg" alt="foto do Maicon Sander">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>

                <h3>Sou Programador especializado em Angular TypeScript C# é Desenvolvimento Web</h3>

                <p>Apaixonado por tecnologia desde criança, sempre fui curioso para explorar computadores, jogos e dispositivos móveis. Aos 18 anos, embarquei na jornada para me tornar programador.</p>

                <p>Durante minha formação em Engenharia de Software, estou me especializando em desenvolvimento web, com foco tanto em <b>Frontend </b> quanto <b>Backend.</b> Aprendi a construir interfaces responsivas com <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, <b>C#</b> e desenvolvo sistemas robustos com <b>ASP.NET</b> e <b>MySQL</b>, o que me permite ter uma visão completa do processo de desenvolvimento.</p>

                <p>Além dos estudos, tive a oportunidade de trabalhar com suporte a sistemas de PDV, o que me ajudou a entender a importância de soluções confiáveis para o usuário final. Desenvolvi projetos pessoais, como meu próprio portfólio, aplicando conceitos de autenticação e desenvolvimento seguro, sempre com foco na experiência do usuário.</p>

                <p>Minha jornada está apenas começando, mas sou movido pela vontade de aprender e me aprimorar. Meu objetivo é ingressar no mercado como desenvolvedor júnior, contribuir para projetos desafiadores e, quem sabe, um dia trabalhar na indústria dos meus sonhos, como a <b>Fórmula 1!</b>😉</p>
                
                <a href="#contact">entre em contato comigo!</a>



            </div>
        </div>
    </section>


</main>

